*{
  margin: 0px;
  border-collapse: collapse;
}
.container {
  text-align: center;
  background-color: #939393;
}
.subContainer{
  display: flex;
}
.proActions{
  flex: 80%;
  display: flex;
  flex-direction: row;
}
